:root {
  --bg: #282c34;
  --header: #fff;
  --link: #401250;
  --text: hsla(0, 0%, 100%, 0.88);
}
.success-message {
  background-color: #d4edda;
  color: #155724;
  padding: 10px;
  border: 1px solid #c3e6cb;
  border-radius: 5px;
  margin-bottom: 10px;
}

.error-message {
  background-color: #f8d7da;
  color: #721c24;
  padding: 10px;
  border: 1px solid #f5c6cb;
  border-radius: 5px;
  margin-bottom: 10px;
}
.warm-blue-bg {
  background-color: #6FA8DC; 
}

.golden-rod-bg {
  background-color: goldenrod; 
}
.dark-purple-link {
  color: #a5af16; 
}
.custom-navbar {
  border-radius: 15px; 
}
.dark-purple-link {
  color: #240e91;  
}

.login-box {
  border: 1px solid #470808;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  flex: 1;
}

.left-box {
  background-color: lightcoral; 
  margin-right: 10px; 
}

.login-container {
  display: flex;
  flex-direction: column; 
  align-items: center; 
}

.login-box {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #d55656;
  margin-bottom: 20px; 
}

.signup-about-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #a0a0c5;
  color: rgb(17, 121, 12); 
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}
.substitutes-box {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #a0a0c5;
  margin-top: 20px;
}
.sub-details-box {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #f7f7f7;
  margin-top: 20px;
}
.details-box {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 10px;
  margin-top: 10px;
  background-color: #ffffff;
}
.password-validation {
  margin-top: 5px;
  font-size: 14px;
}

.valid {
  color: green;
}

.invalid {
  color: red;
}
/* Container for images */
.image-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start; 
  margin-top: 4px; 
}

/* Style for individual images */
.teacher-image,
.substitute-image {
  max-width: 30%; 
}

/* Position the teacher image to the left */
.teacher-image {
  order: -1; 
}

/* Position the substitute image to the right */
.substitute-image {
  order: 1; 
}

