:root {
  --bg: #282c34;
  --header: #fff;
  --link: #401250;
  --text: hsla(0, 0%, 100%, 0.88);
}
.success-message {
  background-color: #d4edda;
  color: #155724;
  padding: 10px;
  border: 1px solid #c3e6cb;
  border-radius: 5px;
  margin-bottom: 10px;
}

.error-message {
  background-color: #f8d7da;
  color: #721c24;
  padding: 10px;
  border: 1px solid #f5c6cb;
  border-radius: 5px;
  margin-bottom: 10px;
}
.warm-blue-bg {
  background-color: #6FA8DC; 
}

.golden-rod-bg {
  background-color: goldenrod; 
}
.dark-purple-link {
  color: #6A0DAD; 
}
.custom-navbar {
  border-radius: 15px; 
}
