:root {
  --bg: #282c34;
  --header: #fff;
  --link: #401250;
  --text: hsla(0, 0%, 100%, 0.88);
}
.success-message {
  background-color: #d4edda;
  color: #155724;
  padding: 10px;
  border: 1px solid #c3e6cb;
  border-radius: 5px;
  margin-bottom: 10px;
}

.error-message {
  background-color: #f8d7da;
  color: #721c24;
  padding: 10px;
  border: 1px solid #f5c6cb;
  border-radius: 5px;
  margin-bottom: 10px;
}
.warm-blue-bg {
  background-color: #6FA8DC; 
}
.light-blue-bg {
  background-color: #4e84b6; 
}


.golden-rod-bg {
  background-color: goldenrod; 
}
.dark-purple-link {
  color: #a5af16; 
}
.custom-navbar {
  border-radius: 15px; 
  position: relative;
  z-index: 1;
}
.dark-purple-link {
  color: #240e91; 
  font-weight: bold; 
  margin-right: 10px;
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative; 
  z-index: 2;
  background-color: transparent
 
}

.image-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: absolute;
  top: 0; 
  left: 0;
  width: 100%; 
  height: 100%;
  z-index: 1;
  pointer-events: none;

}

.login-box, .signup-about-box {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #d55656;
  color:rgb(64, 64, 64); 
  margin: 0 auto;
  max-width: 400px;
  margin-bottom: 20px;
}

.signup-about-box {
  align-self: flex-start; 
}

.login-box {
  margin-top: 50px; 
}

.underlined-heading {
  text-decoration: underline;
}

.sub-details-box {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #4e84b6;
  margin-top: 20px;
}

.details-box {
  border: 1px solid #ccc;
  padding: 1px;
  border-radius: 10px;
  margin-top: 10px;
  background-color: #b17e7e;
}

.password-validation {
  margin-top: 5px;
  font-size: 14px;
}

.valid {
  color: green;
}

.invalid {
  color: red;
}

.login-box {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #d55656;
  color:rgb(64, 64, 64); 
  margin: 0 auto;
  max-width: 400px;
  margin-bottom: 20px;
}

.teacher-image,
.substitute-image {
  max-width: 30%;
  opacity: 0;
  transition: opacity 3s ease-in-out;
  border-radius: 50% 16%;
  margin-top: 99px; 
}

.teacher-image {
  background-color: #d55656;
  color: white;
}

.substitute-image {
  background-color: #d55656;
  color: white;
  margin-top: 5px; 
}

.teacher-image.fade-in,
.substitute-image.fade-in {
  opacity: 1;
}

.teacher-image {
  order: -1;
}

.substitute-image {
  order: 1;
}
.apple-bullet {
  width: 1em; 
  height: 1em; 
  vertical-align: middle;
  margin-right: 0.5em;
  background-color: #d55656;
  border-radius: 50%; 
  display: inline-block; 
} 


.signup-container {
  padding: 20px;
  margin: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.signup-container label {
  margin-bottom: 5px; 
}

.signup-container small {
  margin-top: -5px; 
}

label[for="school_name"],
label[for="school_location"],
label[for="course_name"],
label[for="qualifications"],
label[for="verification_id"] {
  padding-bottom:  10px; 
}

.about-image {
  max-width: 70px; 
  border-radius: 50%; 
  position: absolute; 
  top: 10px; 
  right: 150px;
  z-index: 1; 
}

.image-container {
  position: absolute; 
  top: 5px; 
  right: 1px; 
}

.substitutes-box ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.teacher-card,
.substitute-card {
  border: 1px solid #ccc;
  background-color: #d55656;
  padding: 15px;
  margin: 10px;
  border-radius: 5px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  
}

.teacher-card h3,
.substitute-card h3 {
  margin-top: 0;
}

.teacher-card p,
.substitute-card p {
  margin: 5px 0;
}

.delete-button {
  background-color: #524647;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 3px;
  cursor: pointer;
}

.delete-button:hover {
  background-color: #635052;
}

.container {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
}

.form-group {
  margin-bottom: 20px;
}

.form-label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-control {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.form-text {
  font-size: 14px;
  color: #666;
}

.password-validation {
  margin-top: 5px;
  font-size: 14px;
}

.valid {
  color: green;
}

.invalid {
  color: red;
}

.bold-label {
  font-weight: bold;
}